
// body {
   
//     background: rgb(44,6,89);
//     background: radial-gradient(circle, rgba(44,6,89,1) 0%, rgba(5,6,6,1) 100%);
//     height: 100vh;
// }

// button:hover {
//     background-color: #ff1dff;
//   }



button:active{
    background:#ff1dff;
    border: 2px;
    border-Color: pink;
    // background-color: transparent;
    
}

button:focus{
    background:#ff1dff;
    border: 2px;
    border-Color: pink;
    // background-color: transparent;
}

#loginBox {
    width: 400px;
    padding: 20px;
    background: rgb(239, 236, 243); // rgba(0,0,0,0.4);
    margin:auto;
    text-align: center;
    border-radius: 5px;
}

#loginBox2 {
    width: 200px;
    padding: 20px;
    background: rgb(203, 194, 214); // rgba(0,0,0,0.4);
    margin:auto;
    border-radius: 5px;
    margin-left: 40px;
}
    
.signinBox {
    text-align: center;
    border-radius: 5px;
    margin: 0px auto;
    width: 500px;
    padding: 20px;
    background: rgb(44, 10, 85); // rgba(0,0,0,0.4);
}

h1 {
    color: rgba(10, 10, 10, 0.219);
}

.form-control {
border: 2px solid #ff1dff;
border-radius: 25px;
background-color: transparent ;
color: white;
padding: 10px 20px;
margin-right: 5px;
margin-top: 10px ;
margin-bottom: 10px ;
}

.custom-select {
    
    border: 2px solid #ff1dff;
    border-radius: 25px;
    background-color: rgb(24, 4, 49); // transparent;
    color: white;    
    margin-bottom: 10px ;
    }
// .form-control {
//     width: 200px;
//     border: 2px solid #ff1dff;
//     border-radius: 25px;
//     background-color: transparent ;
//     color: white;
//     padding: 10px 20px;
//     margin-top: 10px ;
//     margin-bottom: 10px ;
//     margin-right: "";
//     }




#divSignin {
    text-align: center;
    align-content: center;
    margin-top: 50px;
    width: 600px;
    margin:auto;

}
.col-6 {
    margin-left: 10px;
    
}
#signupButton{
    background-color: rgb(24, 4, 49); // transparent;
    color: white;    

}
.custom-select {
    width: 180px;
    margin-left: 10px;
    
}
.custom-select2 {
    width: 200px;
    margin-right: 10px;
   
}
